 /* Basic modal styling */
 .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* General Page Styling */


body {
    font-family: 'Poppins', sans-serif;
    background-color: #fcd9c9;
    color: #000000;
    margin: 0;
    padding: 20px;
}

h1 {
    color: #000000;
    text-align: center;
}

/* Form Styling */
form {
    background-color: #fac193;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: 0 auto;
}

label {
    font-weight: bold;
    margin-top: 10px;
    display: block;
    color: #000000;
}

input[type="range"] {
    width: 100%;
    margin: 5px 0 10px;
}

input[type="number"], select, textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #ff5e00;
    border-radius: 4px;
    font-size: 16px;
}

/* Button Styling */
button {
    background-color: #ff5930;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #e76b50;
}

/* Output Result Styling */
output {
    display: inline-block;
    margin-left: 10px;
    font-weight: bold;
}

/* Travel History Section Styling */
#travel-history-section {
    margin-top: 20px;
}

#travel-result {
    background-color: #fac193;
    padding: 15px;
    border-radius: 8px;
    margin-top: 20px;
    border: 1px solid #ff5e00;
}

/* Responsive Design */
@media (max-width: 600px) {
    form {
        padding: 15px;
    }

    button {
        width: 100%;
    }
}